*.dsw
*.dsp
*.suo
*.user
*.sdf
*.opensdf
*.sln.docstates
*.pdb
*.ilk
[Dd]ebug/
[Rr]elease/
ipch/
binary/
build/levstuff__*
dat/*.lev
dat/data
dat/dlb.lst
dat/dungeon
dat/dungeon.pdf
dat/nhdat
dat/guioptions
dat/oracles
dat/porthelp
dat/quest.dat
dat/rumors
include/date.h
include/onames.h
include/pm.h
include/vis_tab.h
include/dgn_comp.h
include/lev_comp.h
src/monstr.c
src/tile.c
src/vis_tab.c
util/dgn_lex.c
util/dgn_yacc.c
util/lev_lex.c
util/lev_yacc.c
util/*.exe
win/share/tiletxt.c
*.bmp
*.ico
